<a class="btn" ng-click="$goTo('/list-events/')"><b>‹</b> Retour</a>
<div ng-hide="can_subscribe">On ne peut pas s'inscrire à l'événement "{{title}}"</div>
<div ng-show="can_subscribe">
    <a class="btn" ng-click="copy()">Copier les emails</a>
    <h2>Inscrits à l'événement "{{title}}"</h2>
    <table ng-show="emails">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="person in emails | orderBy: 'start'">
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.firstname}}
            </td>
            <td>
                {{person.email}}
            </td>
            <td>
                <a class="icon-trash clickable" ng-click="removeUser(person._id)"></a>
            </td>
        </tr>
    </table>
    <h2>Écrire un mail à :</h2>
    <pre>{{text}}</pre>
    <form name="formPub">
        <h4>Objet</h4>
        <input type="text" ng-model="mail.title" ng-keyup="invalidForm()">
        <h4>Lien</h4>
        <input type="text" ng-model="mail.link" ng-keyup="invalidForm()">
        <h4>Texte</h4>
        <textarea ui-tinymce="tinymceOptions" ng-model="mail.text" ng-keyup="invalidForm()"></textarea>
        <input type="submit" class="btn btn-submit" value="Envoyer" ng-class="{'btn-disabled': invalid}" ng-disabled="invalid" ng-hide="progress" ng-click="send()">
    </form>
</div>