<a class="btn previous" ng-click="$goTo('/')">
    <b>‹</b> Retour</a>
<h2>Liste des événements</h2>
<p>Il y a aujourd'hui {{events.length}} événements.</p>
<table ng-show="events.length">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="event in events">
        <td>
            {{event.id}}
        </td>
        <td>
            {{event.title}}
        </td>
        <td>
            <a class="icon-trash clickable" ng-click="removeEvent(event.id)"></a>
            <a class="icon-pencil clickable" ng-click="$goTo('/edit-event/'+event.id)"></a>
        </td>
    </tr>
</table>
<p ng-hide="events.length">Aucun événement n'a été ajouté.</p>