<a class="btn previous" ng-click="$goTo('/')">
    <b>‹</b> Retour</a>
<h2>Liste des événements</h2>
<p>En noir figurent les événements passés devant être supprimés.</p>
<table ng-show="events.length">
    <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="event in events | orderBy: 'start'" ng-class="{'old-event': event.old}">
        <td>
            {{event.type}}
        </td>
        <td>
            {{event.start | date:'dd/MM/yyyy HH'}}h
        </td>
        <td>
            {{event.title}}
        </td>
        <td>
            <a class="icon-trash clickable" ng-click="removeEvent(event._id)"></a>
            <a class="icon-pencil clickable" ng-click="$goTo('/edit-event/'+event._id)"></a>
            <a class="icon-share clickable" ng-click="$goTo('/share-event/'+event._id)"></a>
            <a class="icon-users clickable" ng-click="$goTo('/emails-event/'+event._id)"></a>
        </td>
    </tr>
</table>
<p ng-hide="events.length">Aucun événement n'a été ajouté.</p>