<a class="btn previous" ng-click="$goTo(lpath)"><b>‹</b> Retour</a>
<h2 ng-hide="edit">Publier un nouvel événement</h2>
<h2 ng-show="edit">Édition d'un événement</h2>
<form name="formPub">
    <h4>Titre</h4>
    <input type="text" ng-model="event.title" ng-keyup="invalidForm()">
    <h4>Description</h4>
    <textarea rows="20" ui-tinymce="tinymceOptions" ng-model="event.description" ng-keyup="invalidForm()"></textarea>
    <hr>
    <h4>Type d'événement</h4>
    <input type="text" ng-model="event.type" ng-keyup="checkTheme(event.type); invalidForm()">
    <p class="warning" ng-if="!existsType">Attention, le type "{{event.type}}" n'existe pas encore, vous allez le créer.
    </p>
    <p>Types existants: <span ng-repeat="type in types">"{{type}}"&nbsp;</span></p>
    <hr>
    <h3>Heures</h3>
    <h4>Départ</h4>
    <input type="datetime-local" ng-model="event.start" placeholder="aaaa-MM-ddTHH:mm:ss" />
    <h4>Fin</h4>
    <label class="checkbox-container">Heure de fin définie
        <input type="checkbox" ng-checked="event.is_defined_end" ng-model="event.is_defined_end" ng-true-value="true"
            ng-false-value="false">
        <span class="checkmark"></span>
    </label>
    <input type="datetime-local" ng-show="event.is_defined_end" ng-model="event.end" placeholder="aaaa-MM-ddTHH:mm:ss" />
    <hr>
    <h3>Id de la randonnée associée (optionnel)</h3>
    <input type="text" ng-model="event.walk_id">
    <a class="btn btn-medium btn-light" ng-click="getPositionFromWalk()">Obtenir les coordonnées de la balade</a>
    <hr>
    <h3>Localisation</h3>
    <label class="checkbox-container">Événement localisé
        <input type="checkbox" ng-checked="event.is_located" ng-model="event.is_located" ng-true-value="true"
            ng-false-value="false" ng-change="invalidForm()">
        <span class="checkmark"></span>
    </label>
    <div ng-show="event.is_located">
        <p><a href="https://www.gps-longitude-latitude.net/" target="_blank">Obtenir latitude et longitude</a></p>
        <h4>Nom - Adresse</h4>
        <input type="text" ng-model="event.location_name" ng-keyup="invalidForm()">
        <h4>Longitude <i>(souvent en '7.')</i> </h4>
        <input type="number" step="0.00001" ng-model="event.long" ng-change="invalidForm()">
        <h4>Latitude <i>(souvent en '48.')</i> </h4>
        <input type="number" step="0.00001" ng-model="event.lat" ng-change="invalidForm()">
    </div>
    <hr>
    <h3>Inscription</h3>
    <label class="checkbox-container">Possibilité de s'inscrire
        <input type="checkbox" ng-checked="event.can_subscribe"  ng-change="invalidForm()" ng-model="event.can_subscribe" ng-true-value="true"
            ng-false-value="false">
        <span class="checkmark"></span>
    </label>
    <div ng-show="event.can_subscribe">
        <h4>Nombre de place</h4>
        <input type="number" step="1" ng-model="event.number_limit" ng-change="invalidForm()">
    </div>
    <h3 ng-hide="edit">Image</h3>
    <p ng-hide="edit">Préferer des images <b>carrés</b> et <b>petites</b> (1000px max par côté) pour un chargement efficace. L'image à fournir est au format <b>png</b> (<i>possibilité d'utiliser un arrière plan transparant</i>).</p>
    <div class="group-upload" ng-hide="edit">
        <label for="content">Fichier png:</label>
        <span ngf-select ng-model="content" id="content" name="content" class="icon-upload" required
            ngf-pattern="'.png'"></span>
        <span ng-show="content" class="file-selected">Fichier sélectionné</span>
    </div>
    <input type="submit" class="btn btn-submit" value="Valider"
        ng-class="{'btn-disabled': invalid}"
        ng-disabled="invalid" ng-hide="progress" ng-click="publish()">
</form>