<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Calendrier</title>
    <link rel="stylesheet" href="./stylesheets/index-styles.min.css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Calendrier des prochains événements de l'association Découverto">
    <meta name="image" content="https://decouverto.fr/icons/512.png">
    <meta itemprop="name" content="Découverto | Calendrier">
    <meta itemprop="description" content="Calendrier des prochains événements de l'association Découverto">
    <meta itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta name="og:title" content="Découverto | Calendrier">
    <meta name="og:description" content="Calendrier des prochains événements de l'association Découverto">
    <meta name="og:url" content="https://decouverto.fr/calendrier/">
    <meta name="og:site_name" content="Découverto">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <header>
        <h1>Découverto</h1><a href="/">Accueil</a>
    </header>
    <%- include('includes/footer'); %>
    <script type="text/javascript" src="/javascripts/index/build.js"></script>
</body>
</html>
