<!DOCTYPE html>
<html>

<head>
  <title>Decouverto - Calendrier | Publication sur Facebook</title>
  <link rel='stylesheet' href='/stylesheets/admin-styles.min.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a href="/admin/logout" class="logout"><i class="icon-power"></i> Se déconnecter</a>
  <h1>Decouverto - Calendrier</h1>
  <h2>Publication sur facebook</h2>
  <div id="log">
  </div>
  <script>
    function addText(log) {
      var div = document.getElementById('log');
      div.innerHTML += log + '<br>';
    }
    var pageId = '1803338833217763';
    window.fbAsyncInit = function () {
      FB.init({
        appId: '2379880765629695',
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v3.3'
      });
      FB.login(function (response) {
        if (response.authResponse) {
          addText('Connection...');
          FB.api('/me', function (response) {
            addText('Bonjour  ' + response.name);
            FB.api('/' + pageId + '?fields=access_token', function (response) {
              console.log(response)
              FB.api('/' + pageId + '/feed', 'post', {
                access_token: response.access_token,
                message: decodeURIComponent(window.location.hash.substr(1))
              }, function (response) {
                console.log(response)
                addText('Le texte a été publié.');
                window.open('https://www.facebook.com/' + response.id, '_blank');
              });
            });
          });
        } else {
          addText('Une erreur est survenue.');
        }
      });
    };
  </script>
  <script async defer src="https://connect.facebook.net/fr_FR/sdk.js"></script>
</body>
</html>