<!DOCTYPE html>
<html>

<head>
  <title>Decouverto - Calendrier | Publication sur Facebook</title>
  <link rel='stylesheet' href='/stylesheets/admin-styles.min.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a href="/admin/logout" class="logout"><i class="icon-power"></i> Se déconnecter</a>
  <h1>Decouverto - Calendrier</h1>
  <h2>Publication sur Facebook</h2>
  
  <canvas id="canvas" width="1024" height="128" onClick="download()"></canvas>
  <script>
    window.onload = function(){
     var text = decodeURIComponent(window.location.hash.substr(1))
     var canvas = document.getElementById('canvas');
     var context = canvas.getContext('2d');
     var imageObj = new Image();
     imageObj.onload = function(){
         context.drawImage(imageObj, 0, 0, 1024, 128);
         context.fillStyle = '#fff';
         context.strokeStyle = '#fff';
         
         if (text.length > 55) {
           context.font = '25px Calibri';
         } else {
           context.font = '30px Calibri';
         }
         context.fillText(text, 25, 100);
     };
     imageObj.src = '/banner.png'; 
    };
    var download = function(){
      var link = document.createElement('a');
      link.download = 'event.png';
      link.href = document.getElementById('canvas').toDataURL();
      link.click();
    }
  </script>
</body>
</html>