html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.unsubscribe {
    flex-shrink: 0;
    overflow: hidden;
    background-size: 100%;
    background-color: #dc3133;
    background-repeat: no-repeat;
    color: #fff;
    padding: 1rem;
    line-height: 66px;
}

header.unsubscribe h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 2em;
    display: inline-block;
}

header.unsubscribe a {
    float: right;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    padding: 0 10px;
}

header.unsubscribe a:hover {
    color: #a52222;
}

header.nav-container {
    flex-shrink: 0;
    overflow: hidden;
    background-size: 100%;
    background-color: #dc3133;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0;
}

header.nav-container h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 2em;
}

header.nav-container h1 {
    margin:1rem;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    z-index: 1000
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #111;
}

ul.nav .active {
    background-color: #dc3133;
}


section,
main {
    padding: 3rem;
}


article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
    color: #168ff9;
}

.content {
    flex: 1 0 auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    min-width: 70%;
}

h1 {
    margin: 3rem 0;
    top: 0;
}


.banner {
    flex-direction: column;
}

.banner>div {
    position: relative;
    width: 50%;
}

h2 {
    font-size: 4rem;
    font-family: inherit;
    font-weight: 300;
    margin: 3rem auto;
    text-align: center;
    line-height: 1.1em;
}


h3 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: normal;
    margin: 3rem auto;
}

.howto-step>p {
    padding: 0.4rem 0;
}

select {
    outline: 0;
    overflow: hidden;
    height: 30px;
    background: #dc3133;
    color: #fff;
    border: #dc3133;
    padding: 5px 3px 5px 10px;
    font-size: 1.1rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    max-width: 100%;
}

footer .nav-container {
    background-color: #3d3d3d;
    transition: background-color .5s ease-in;
    color: #CCC;
    padding: 3rem;
}

footer .nav-container .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col,
footer nav {
    padding: 1rem 2rem 1rem 0;
}

footer .col .logo {
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

footer .col a {
    text-decoration: underline;
    color: inherit;
}

footer nav a {
    color: inherit;
    display: block;
    margin: .5rem 0;
}

footer h6 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: #FFF;
}

a {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card {
    background-color: #dfe6e9;
    border-width: 5px;
    border-radius: 3px;
    border-color: #dfe6e9;
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    margin: 5px;
    margin-bottom: 3.5rem;
    padding: 12px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.card a {
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: inherit;
    color: inherit;
    font-size: 1.1rem;
}

.card a:hover {
    background-color: #c7c7c7;
}

.card h4 {
    padding-bottom: 10px;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1em;
}

.card .description {
    padding-top: 15px;
    padding-bottom: 15px
}

.card .subscribe {
    background-color: #1b5e20;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .11), 0 1px 4px rgba(0, 0, 0, .22);
}

.card .subscribe:hover {
    background-color: #2e7d32;
}

.card img {
    max-width: 100%;
}


.filter-box {
    background-color: #ffcdcb;
    border-width: 5px;
    border-radius: 3px;
    border-color: #ffcdcb;
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    margin: 5px;
    padding: 12px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.btn-leave {
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 10px;
    background-color: inherit;
    color: inherit;
    font-size: 1.1rem;
}

.btn-leave:hover {
    background-color: #95a5a6;
}

.input-group {
    margin: 10px;
    margin-bottom: 20px;
}

.input-group label {
    margin-right: 5px;
}

.input-group input  {
    background-color: inherit;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: inherit;
    border-color: #2e7d32;
    max-width: 75%;
    margin-left: 5px;
    outline: none;
}

.email-leave  {
    background-color: inherit;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: inherit;
    border-color: #dc3133;
    max-width: 75%;
    margin-left: 5px;
    outline: none;
}

.success-box {
    background-color: #b1e6c8;
    border-width: 5px;
    border-radius: 3px;
    border-color: #b1e6c8;
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    margin: 5px;
    margin-bottom: 3.5rem;
    padding: 12px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.error-box {
    background-color: #f57d8c;
    border-width: 5px;
    border-radius: 3px;
    border-color: #f57d8c;
    box-shadow: 0 0 1px rgba(0, 0, 0, .11), 0 1px 2px rgba(0, 0, 0, .22);
    margin: 5px;
    margin-bottom: 3.5rem;
    padding: 12px;
    color: #FFF;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}




@media (max-width: 600px) {
    h2 {
        font-size: 3rem;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .email-leave {
        margin: 10px;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    .license-warning {
        font-size: 0.7rem;
    }

    .content {
        margin: 0;
    }
}


.license-warning {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 98;
    font-size: 0.9rem;
    background-color: #ffeaa7;
    color: #2d3436;
    text-align: center;
}

.license-warning a {
    text-decoration: underline;
    color: inherit;
}

::selection {
    background-color: #dc3133;
    color: #fff
}


.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media (max-width: 800px) {
    .modal-content {
        width: 99%;
    }
}


@media (max-width: 450px) {
    header {
        padding: 1.5rem;
    }
    header h1 {
        font-size: 1.2em;
    }
    header a {
        font-size: 1.1em;
    }
    .card h4 {
        font-size: 1.6rem;
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #dfe6e9;
    color: #000;
}

.modal-body {
    padding: 2px 16px;
    margin: 0.5rem auto;
}

.modal-body .subscribe {
    background-color: #1b5e20;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .11), 0 1px 4px rgba(0, 0, 0, .22);
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
}

.modal-body .subscribe:hover {
    background-color: #2e7d32;
}

.modal-header h2 {
    font-size: 2rem;
    margin: 1rem auto;
}

.data-privacy {
    margin-top: 1rem;
    color: #888;
    font-style: italic; 
}
.warn {
    color: #FF9800;
    margin: 10px;
}
.error {
    color: #FF0000;
    margin: 10px;
}

.event_full {
    font-style: italic;
    color: #34495e;
}
.red-border {
    border-color: #c0392b;
    border-width: 2px;
    border-style: solid;
}